<?xml version="1.0" encoding="utf-8"?>
<!-- MonsterASP / IIS-এর জন্য। publish করলে dotnet এটাকে নিজে থেকেই ঠিক করে নেয়। -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\NastaOrder.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>

      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Referrer-Policy" value="same-origin" />
        </customHeaders>
      </httpProtocol>

      <rewrite>
        <rules>
          <!-- SSL বসানোর পর HTTPS-এ পাঠাও -->
          <rule name="HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
              <add input="{HTTP_HOST}" pattern="^localhost" negate="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>

      <staticContent>
        <remove fileExtension=".webmanifest" />
        <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
